* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty #window, #cava{
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}



#workspaces button {
    border-radius: 10px;
    transition: ease 0.3s;
    padding: 3px 10px 0 8px;
    background-color: transparent;
    color: #afb97a;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
   background: #afb97a;
   border-radius: 10px;
   color: black;
   padding-left: 15px;
   padding-right: 17px;
}

#workspaces button.focused {
    background-color: #afb97a;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #c06d44;
    color: black;
    border-radius: 10px;
}

#workspaces {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#tray,
#mode,
#custom-powermenu,
#keyboard-state,
#idle_inhibitor,
#scratchpad,
#language,
#mpd,
#custom-runcat
{
    margin-left: 4px;
    margin-right: 4px;
    color: #afb97a;
    padding-left: 10px;
    padding-right: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#pulseaudio,
#custom-spotify,
#cava,
#window
{
    transition: ease 0.3s;
    color: black;
    background-color: #afb97a;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 10px;
}

#pulseaudio,
#custom-runcat,
#custom-spotify,
#battery,
#clock
{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
}

#custom-spotify,
#cava,
#battery,
#clock,
#custom-powermenu
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

#custom-runcat {
    font-family: 'runcat';
    font-size: 24px;
}

#cava.empty
{
    background-color: transparent;
}

#custom-powermenu {
   background-color: #afb97a;
   color: black;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left {
    padding-right: 150px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}
