/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark:   #383C4A; */
/*     --light:  #7C818C; */
/*     --ld:     #404552; */
/*     --dl:     #4B5162 */
/*     --white:  white; */
/* } */

*{
  font-family: FiraCodeNerdFont;
  font-size: 11pt;
}

window{
  border-radius: 10px;
}

#input {
  margin: 5px;
  border-radius: 10px;
  color: white;
  font-size: 12pt;
}


#outer-box {
  border-radius: 10px;
  margin: 2px;
  padding:15px;
}

#text {
  padding: 5px;
  color: white;
}

#entry:selected {
}

#text:selected {
}

#scroll {
}

#img {
}

